@import url($font-url);
@import '~normalize.css/normalize.css';
@import './scss_partials/b-navigation';

* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

body {
  background-image: url(../images/bg.png);
  background-repeat: repeat;
  font-family: 'Oswald', sans-serif;
}

.container {
  background: white;
  margin: 0 auto;
  width: 90%;
  box-shadow: $box-shadow-depth1;
  padding: 20px;
}
