<meta property="og:title" content="My Website" />
<meta property="og:description" content="My Website description" />
<meta property="og:type" content="website" />
<meta property="og:url" content="your url" />
<meta property="og:image" content="image_url" />
